@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  @apply h-full;
}

body {
  @apply min-h-full bg-white text-slate-900 antialiased transition-colors duration-200 ease-in-out;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}

#root {
  @apply min-h-screen;
}

